$niei: #5600b8;
$niei2: #7700ff;
$niei-black: #0b0f11;

$primary: $niei;
$secondary: $niei2;
$dark: $niei-black;
$gray-900: $niei-black;

$btn-link-color: $primary;
$btn-link-hover-color: $primary;

@import "../bs/scss/bootstrap.scss";
@import "../bs/css/bootstrap.css";

// Other CSS

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-ExtraBold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

html {
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0b0f11;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5600b8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #5600b8;
    border-radius: 5px;
}

::selection {
    color: white;
    background: #5600b8;
    border-radius: 5px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

p{
    font-size: 32px;
}

#imprint>li{
    font-size: 32px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.title {
    font-size: 60px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: unset !important;
}

a.big-btn{
    font-size: 24px;
}

#imprint-location{
    cursor: pointer;
}

#ip-text {
    font-family: monospace;
    cursor: pointer;
}

#ip-text:hover {
    font-weight: bold;
}

#ip-text::before {
    content: "Click to Copy";
    position: absolute;
    bottom: -2px;
    right: 70px;
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 0.3s ease-in-out;
}

#ip-text:hover::before {
    opacity: 1;
}

#ip-text.copied::before {
    content: "Copied!";
    opacity: 1;
}

#disclaimer-text {
    font-style: italic;
}

/*For the Clock Page*/
.time {
    font-size: 10vw;
}

.watermark {
    font-size: 15rem;
    opacity: 33%;
    margin-top: 2vh;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#headers{
    font-size: 12px;
}

.clock {
    font-family: monospace;
}

.calendar-header {
    font-weight: bold;
}

.calendar-day {
    width: 14.28%; /* Each day occupies 1/7th of the width */
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-family: monospace;
}

.today {
    background-color: #5600b8;
    border-radius: 15px;
}

.fancy-link{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    transition: 0.15s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    margin: 1rem;
}

.fancy-link:hover{
    border-radius: 15px;
    font-weight: 800;
    padding: 10px;
    background-color: #5600b8;
    transition: 0.15s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}


@media (max-width: 600px) {
    .time {
        font-size: 17vw;
    }

    a.big-btn {
        font-size: 20px;
    }

    .title{
        font-size: 10vw;
    }

    #nav-ip {
        display: none;
    }

    .smol-dayname{
        display: none;
    }

    .calendar-day {
        width: 14.28%; /* Each day occupies 1/7th of the width */
        display: inline-block;
        text-align: center;
        padding: 0px 0;
    }

    .today {
        border-radius: 5px;
    }

    #nav-requestInfoBtn {
        display: none;
    }

    #disclaimer-text {
        display: none;
    }

    #headers {
        font-size: 10px;
        word-wrap: break-word;
    }

    p {
        font-size: 24px;
    }

    #imprint > li {
        font-size: 24px;
    }
}